body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#btnSendSms {
    margin-top: 5px;
    margin-left: 185px;
}

#imgPhone {
    height: 583px;
    width: 418px;
    position: absolute;
    left: 293px;
    top: 70px;
    z-index: -1;
}



#divMessage {
    margin-top: 45px;
}

    #divMessage H4 {
        font-style: italic;
        background: #6e9ec7;
        color: white;
        width: 228px;
        margin-top: 15px;
        border-radius: 3px;
        padding-left: 3px;
    }

.input-size {
    width: 226px !important;
}

.btn-sendsms {
    color: #fff;
    background-color: #ec8c6a;
    border-color: #ec8c6a;
}

    .btn-sendsms:hover {
        color: #fff;
        background-color: #eb7246;
        border-color: #eb7246;
    }


.hrstyle {
    margin-top: 0;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#divStatut {
    height: 200px;
    padding: 35px 20px;
    line-height: 1.5em;
    color: #444444;
    background-color: #ddd;
    background-image: linear-gradient(#E5E5E5, #CFCFCF);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
/**************************media 768**************/
@media only screen and (max-width: 768px) {
    #imgPhone {
        height: 579px;
        width: 417px;
        position: absolute;
        left: -71px;
        top: 53px;
        z-index: -1;
    }

    #divMessage {
        margin-bottom: 55px;
    }
}
/**************************media 1024**************/
@media only screen and (max-width: 1024px) {
    #imgPhone {
        height: 580px;
        width: 419px;
        position: absolute;
        left: -55px;
        top: 53px;
        z-index: -1;
    }

    #divMessage {
        margin-bottom: 55px;
    }
}

/**************************media 1440**************/
@media only screen and (max-width: 1440px) {
    #imgPhone {
        height: 580px;
        width: 421px;
        position: absolute;
        left: 52px;
        top: 68px;
        z-index: -1;
    }

    #divMessage {
        margin-bottom: 55px;
    }
}

/******************************************************************/
.my-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .my-form-control:focus {
        border-bottom-color: #66afe9;
        outline: 0;
    }

.input-field input[type=text]:focus + label {
    color: #000;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* Shadows */

.shadow-lvl-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-lvl-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-lvl-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-lvl-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-lvl-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.wrap-logo-title {
    height: 100%;
    display: inline-block;
}

    .wrap-logo-title img {
        max-height: 95px;
        display: inline-block
    }

    .wrap-logo-title h1 {
        display: inline-block;
        color: black;
    }

#divContainer h2 {
    margin-top: 0;
}

/************Buttons************/
.btn-border {
    border: 1px solid #385B9D;
    padding: 6px 20px;
    display: inline-block;
    height: 34px;
    min-width: 110px;
    text-align: center;
    margin-left: 10px;
    background: white;
    color: #385B9D;
}


    .btn-border:hover,
    .btn-border:focus {
        background-color: #385B9D;
        color: #FFF;
        text-decoration: none;
        outline: none;
    }

.btn-big {
    height: 40px;
    line-height: 25px;
}

.btn-big-plus {
    margin-right: 14px;
    font-weight: 100;
    font-size: 35px;
    line-height: 26px;
    vertical-align: middle;
    margin-left: -8px;
    margin-top: -4px;
    display: inline-block;
}
.btn-filled {
    display: inline-block;
    background-color: #b90719;
    color: #fff;
    padding: 8px 20px;
    min-width: 110px;
    text-align: center;
    border: none;
}

    .btn-filled:hover,
    .btn-filled:focus {
        color: #fff;
        text-decoration: none;
        background-color: #810000;
    }

.btn-square {
    background: none;
    border: none;
}

.btn-square:focus {
    outline: none;
}

.btn-square i {
    cursor: pointer;
    padding: 5px;
    transition: color 200ms cubic-bezier(0.4,0.0,0.2,1), background 200ms cubic-bezier(0.4,0.0,0.2,1), box-shadow 400ms cubic-bezier(0.4,0.0,0.2,1);
    color: rgba(0,0,0,0.54);
}

.btn-square i:hover {
    background-color: rgba(0,0,0,.12);
    color: #333 !important;
}

/* Text */

.txt-justify {
    text-align: justify;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.required:after {
    content: " *";
    color: #ed174b;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}