@{
    ViewData["Title"] = "Accueil";
}
@using Microsoft.AspNetCore.Mvc.Rendering
@model MYSENDER.ViewModels.SmsModeViewModel
<div class="row">
    <h1>
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Annuaire des rendez-vous
    </h1>
</div>
<div class="row" id="divContainer">
    <div class="col-lg-2">
        <nav id="left-menu" class="shadow-lvl-1">
            <ul class="left-menu-lvl-1">
                <li class="title-lvl-2" >
                    <a>menu 1</a>
                </li>
                <li class="title-lvl-2">
                    <a>Menu 2</a>
                </li>
                <li class="title-lvl-2">
                    <a>Menu 3</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-10">
        <div class="row">
            <h2> Historique des SMS Envoyés</h2>
            <hr class="hrstyle" />
            <div id="historiques" class="shadow-lvl-1">
                <table id="DtbHistorique" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Texte</th>
                            <th>Date d'envoi</th>
                            <th>Contact</th>
                            <th>Emetteur</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Texte</th>
                            <th>Date d'envoi</th>
                            <th>Contact</th>
                            <th>Emetteur</th>
                            <th>Statut</th>
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
