@using Newtonsoft.Json
@model MYSENDER.ViewModels.PlaningViewModel

@{
    ViewData["Title"] = "Planing";
}

<div class="container-fluid">
    <div id='planing' data-model='@JsonConvert.SerializeObject(Model)'
         data-url-list-personnel="@(Url.Action("Index", "Personnel"))">
        <div class="row">
            <span class="text-center"><h1>@Resources.Resource.Personnelcalendrie</h1> </span><br /><br />
        </div>
        <div id='calendar' class="row"></div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <input id="CalendarPlaning" type="button" class="buttonFolder" value="@Resources.Resource.Quitter" />
            </div>
        </div>
    </div>
</div>
