@using Microsoft.AspNetCore.Mvc
@model MYSENDER.ViewModels.BaseViewModel
<nav id="left-menu" class="shadow-lvl-1">
    <ul class="left-menu-lvl-1">
        @foreach (var menu in Model.LeftMenus.OrderBy(lm => lm.Order))
        {
            if (menu.IsVisible)
            {
                <li class="title-lvl-1 @(menu.IsActive ? "active" : "")">
                    <a asp-area="" asp-controller=@menu.Link.Controller asp-action=@menu.Link.Action>@menu.Title</a>
                </li> 
            }

        }
    </ul>
</nav>

