@using Microsoft.AspNetCore.Mvc.Rendering
@model MYSENDER.ViewModels.ContactsViewModel

@{
    ViewData["Title"] = "Ajouter un contact";
}
<link rel="stylesheet" href="~/css/materialize.min.css" />

<form asp-action="Create">
    <div class="col s12 m5">
        <h4>Contact</h4>
        <hr />
        <div class="col-md-offset-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="input-field">
                    <input asp-for="Contact.Nom" class="my-form-control" type="text" required="required" id="inputnom" />
                    <label asp-for="Contact.Nom" id="lblnom"></label>
                    <span asp-validation-for="Contact.Nom" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input asp-for="Contact.Prenom" class="my-form-control" type="text" required="required" id="inputprenom" />
                    <label asp-for="Contact.Prenom" id="lblprenom"></label>
                    <span asp-validation-for="Contact.Prenom" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input asp-for="Contact.Tel" class="my-form-control" type="text" required="required" id="inputtel" />
                    <label asp-for="Contact.Tel" id="lbltel"></label>
                    <span asp-validation-for="Contact.Tel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ajouter" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</form>



<div>
    <a asp-action="Index">retour à la liste</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}*@
